1) Expliquer ce qu’est un KPI (avec vos mots)? (1pt)

Le KPI est indice de performance qui permet de suivre l'efficacité d'une action par rapport aux objectifs que l'on a défini.

2) Importer les librairies pandas et numpy (0.5pt)

In [13]:
import numpy as np 
import pandas as pd
import seaborn as sb

3) Importer et le dataset ‘resto_eval.csv’ (0.5pt)

In [2]:
data = pd.read_csv('DataSet/eval_data.csv');

4) Afficher les 12 premières lignes du dataset (0.5pt)

In [3]:
data.head(12)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

5) Afficher les dimensions du dataset (sa taille)? (0.5pt)

In [7]:
data.size

27732

6) Afficher, et décrire les colonnes de notre dataset (0.5pt)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

7) Afficher les statistiques descriptives du dataset (0.5pt)

In [10]:
data.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

8) Quel est l’item le plus commandé ? (1pt)

In [32]:
data.groupby(['item_name']).agg(['sum'])['quantity'].sort_values(['sum'])

                                       sum
item_name
Carnitas Salad                           1
Veggie Crispy Tacos                      1
Chips and Mild Fresh Tomato Salsa        1
Crispy Tacos                             2
Salad                                    2
Bowl                                     4
Steak Salad                              4
Veggie Salad                             6
Carnitas Salad Bowl                      6
Burrito                                  6
Carnitas Crispy Tacos                    8
Veggie Soft Tacos                        8
Chicken Salad                            9
Barbacoa Salad Bowl                     10
Barbacoa Crispy Tacos                   12
Veggie Salad Bowl                       18
Chips and Roasted Chili-Corn Salsa      18
Izze                                    20
Chips and Roasted Chili Corn Salsa      23
Barbacoa Soft Tacos                     25
Chips and Tomatillo-Red Chili Salsa     25
Nantucket Nectar                        29
Steak Salad Bowl                        31
Chips and Tomatillo-Green Chili Salsa   33
Steak Crispy Tacos                      36
Carnitas Soft Tacos                     40
Chips and Tomatillo Green Chili Salsa   45
Chicken Crispy Tacos                    50
Chips and Tomatillo Red Chili Salsa     50
6 Pack Soft Drink                       55
Steak Soft Tacos                        56
Carnitas Burrito                        60
Barbacoa Bowl                           66
Carnitas Bowl                           71
Veggie Bowl                             87
Barbacoa Burrito                        91
Veggie Burrito                          97
Side of Chips                          110
Chicken Soft Tacos                     120
Chicken Salad Bowl                     123
Canned Soda                            126
Chips and Fresh Tomato Salsa           130
Bottled Water                          211
Steak Bowl                             221
Chips                                  230
Canned Soft Drink                      351
Steak Burrito                          386
Chips and Guacamole                    506
Chicken Burrito                        591
Chicken Bowl                           761

Le plat le plus commandé est le Chicken Bowl

9) Combien d’items ont été commandés au total ? (1pt)

In [34]:
data['quantity'].agg(['sum'])

sum    4972
Name: quantity, dtype: int64

4972 items ont été commandés

In [ ]:
10)Combien de chiffre d’affaire à realisé la société ? (2pt)

In [45]:
data['item_price'] =  data['item_price'].str.replace('$','')

<ipython-input-45-c2a603cc6688>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['item_price'] =  data['item_price'].str.replace('$','')

In [46]:
data['item_price'] =  data['item_price'].astype('float64')

In [53]:
data = data.assign(Tprice = data['quantity']*data['item_price'])

In [56]:
data['Tprice'].sum()

38998.020000000004

Le CA du restaurant est $38998,02

11)Quel est le revenu moyen par commande ? (2pt)

In [58]:
data['Tprice'].mean()

8.624064573197701

Le prix moyen d'une commande est %8,62